# Virtual Environments (The most important part!)
venv/
.venv/
env/
bin/
lib/
include/

# Python cache and byte-code
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
dist/
build/
*.egg-info/

# Environment variables / Secrets
.env

# IDE specific files
.vscode/
.idea/